<template>
  <div class="content">
    <h1>
      {{title}}
    </h1>
    <label for="number">Number </label>
    <input @keyup.space="number = ''" id="number" type="number" v-model="number">
    <div>
      <h1>
        {{result}}
      </h1>
    </div>

  </div>
</template>

<script>
import {calculate} from '../utils/api-provider';

export default {
  name:"calculator",
  props:{
    title: String
  },
  data (){
    return {
      number: 0,
      result: 0
    }
  },
  methods: {

  },
  watch:{
    number: function(newNumber){
      if(newNumber.length>0)
      calculate(newNumber).then(response =>{
        this.result = response.data
        this.$emit("calculate", this.result)
      })
    }
  }
}

</script>

<style scoped>
.content{
  background: #8cf093b3;
  border-radius: 5px;
  padding: 2em;
}
</style>
