<template>
  <div class="content">
    <h1>
      {{msg.toUpperCase()}}
    </h1>

    <button @click="getMessage">Click me!</button>
    <button @click="showCalculator = !showCalculator">Show/Hide calculator</button>

    <div v-show="showCalculator" style="padding: 2em;">
      <label for="calcName">Calculator name:</label>
      <input id="calcName" v-model="calculatorName" placeholder="calculator name"><br>
      <label>{{calculatorName}} calculated: {{result}}</label>
    </div>
    <div v-show="showCalculator" style="margin: 5em">
      <calculator :title="calculatorName" v-on:calculate="showResult"></calculator>
    </div>

    <button @click="getEur">Get eur</button>

    Trenutna vrijednost eura u kunama: {{eur}}
  </div>
</template>

<script>
  import {sayHello, getEurValue} from '../utils/api-provider';
  import Calculator from './Calculator.vue'

  export default {
    name: 'HelloWorld',
    components: {
      Calculator
    },
    data () {
      return {
        msg: 'Welcome to Your Vue.js App',
        calculatorName: "",
        showCalculator: false,
        result: "",
        eur: '',
      }
    },
    mounted () {

    },
    created () {

    },
    methods: {
      getMessage () {
        sayHello().then(response => {
          this.msg = response.data
        })
      },
      getEur () {
        getEurValue().then(response => {
          //console.log(response.data.rates.HRK);
          this.eur = response.data.rates.HRK;
        })
      },
      showResult(result){
        this.result = result
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .content {
    background: rgba(117, 0, 0, 0.11);
    border-radius: 5px;
    padding: 2em;
  }
</style>
